.filter {
  &Wrap {
    display: flex;
    margin-bottom: 20px;
  }
  color: #adadad;
  border: 1px solid #adadad;
  background: white;
  height: 30px;
  width: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  cursor: pointer;

  &.-active {
    background: #adadad;
    color: white;
  }
}
