@media screen and (min-width: 750px) {
  .sp {
    display: none !important; } }

@media screen and (max-width: 749px) {
  .pc {
    display: none !important; } }

.font, body {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 300;
  font-size: 1.3rem;
  line-height: 1.5;
  color: #2c2c2c; }
  @media screen and (max-width: 749px) {
    .font, body {
      font-size: 1.2rem; } }

.central {
  display: flex;
  align-items: center;
  justify-content: center; }

* {
  border: 0;
  outline: none;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  position: relative; }

html {
  font-size: 62.5% !important;
  height: 100%;
  -webkit-overflow-scrolling: touch; }

body {
  height: 100%;
  -webkit-overflow-scrolling: touch;
  overflow-x: hidden;
  background: #FFF; }

.loading {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9999;
  height: 100%;
  width: 100%;
  transition: 0.5s;
  opacity: 1;
  background: #FFF; }

div,
main,
section {
  display: block;
  position: relative; }

h1,
h2 {
  position: relative;
  font-family: 'Open Sans Condensed', sans-serif;
  letter-spacing: 0.05em;
  font-size: 2.6rem;
  text-align: center; }

h3 {
  background: #f0f0f0;
  padding: 3px 5px;
  border-left: 6px solid #c7c7c7; }

*:focus {
  outline: none; }

p {
  line-height: 1.75;
  text-align: justify; }
  p a {
    word-break: break-all; }

sup {
  vertical-align: super;
  font-size: 50%; }

em {
  font-weight: 700; }

b {
  font-weight: 700; }

a {
  cursor: pointer;
  transition: opacity 0.3s; }
  a.block {
    display: block; }
  a.text_link {
    color: #3a8ec1;
    border-bottom: 1px dashed #3a8ec1;
    opacity: 1;
    transition: opacity 0.3s; }
    a.text_link:hover {
      opacity: 0.5; }

.opa {
  cursor: pointer;
  transition: 0.5s;
  opacity: 1; }
  .opa:hover {
    opacity: 0.5 !important; }

.scale {
  overflow: hidden;
  display: block; }
  .scale img {
    transition: transform 0.5s; }
  .scale:hover img {
    transform: scale(1.1); }

.underline {
  text-decoration: underline; }

figcaption,
small {
  font-size: 1.2rem; }
  @media screen and (max-width: 749px) {
    figcaption,
    small {
      font-size: 1.0rem; } }

figcaption {
  margin-top: 5px; }

.spaces {
  letter-spacing: 0.1em; }

.dash {
  letter-spacing: 0; }

@media screen and (min-width: 750px) {
  .block-inline {
    display: inline-block; } }

.center-m {
  margin-left: auto;
  margin-right: auto; }

.center {
  text-align: center; }

.left {
  text-align: left; }

@media screen and (max-width: 749px) {
  .sp-left {
    text-align: left !important; } }

.right {
  text-align: right; }

img.block {
  display: block; }

.w100 {
  width: 100% !important;
  display: block; }

.wh100 {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  object-position: bottom center;
  font-family: 'object-fit: cover; object-position: bottom center;'; }

.bg_white {
  background: #FFF !important; }

.bg_black {
  background: #2c2c2c !important; }

.bg_silver {
  background: #EFEFEF !important; }

.bg_green {
  background: #124100 !important; }

.bg_glass {
  background: #97C97D !important; }

.bdr_white {
  border: 1px solid #FFF !important; }

.bdr_black {
  border: 1px solid #2c2c2c !important; }

.bdr_silver {
  border: 1px solid #EFEFEF !important; }

.bdr_green {
  border: 1px solid #124100 !important; }

.bdr_glass {
  border: 1px solid #97C97D !important; }

.text_white {
  color: #FFF; }

.text_black {
  color: #2c2c2c; }

.text_silver {
  color: #EFEFEF; }

.text_green {
  color: #124100; }

.text_glass {
  color: #97C97D; }

.hr_white {
  border-top: 1px solid #FFF; }

.hr_black {
  border-top: 1px solid #2c2c2c; }

.hr_silver {
  border-top: 1px solid #EFEFEF; }

.hr_green {
  border-top: 1px solid #124100; }

.hr_glass {
  border-top: 1px solid #97C97D; }

.wrap100 {
  margin: auto;
  max-width: 100px;
  width: 100%; }
  @media screen and (max-width: 749px) {
    .wrap100 {
      padding: 0 25px; } }

.wrap500 {
  margin: auto;
  max-width: 500px;
  width: 100%; }
  @media screen and (max-width: 749px) {
    .wrap500 {
      padding: 0 25px; } }

.wrap600 {
  margin: auto;
  max-width: 600px;
  width: 100%; }
  @media screen and (max-width: 749px) {
    .wrap600 {
      padding: 0 25px; } }

.wrap700 {
  margin: auto;
  max-width: 700px;
  width: 100%; }
  @media screen and (max-width: 749px) {
    .wrap700 {
      padding: 0 25px; } }

.wrap800 {
  margin: auto;
  max-width: 800px;
  width: 100%; }
  @media screen and (max-width: 749px) {
    .wrap800 {
      padding: 0 25px; } }

.wrap900 {
  margin: auto;
  max-width: 900px;
  width: 100%; }
  @media screen and (max-width: 749px) {
    .wrap900 {
      padding: 0 25px; } }

.wrap990 {
  margin: auto;
  max-width: 990px;
  width: 100%; }
  @media screen and (max-width: 749px) {
    .wrap990 {
      padding: 0 25px; } }

.wrap1000 {
  margin: auto;
  max-width: 1000px;
  width: 100%; }
  @media screen and (max-width: 749px) {
    .wrap1000 {
      padding: 0 25px; } }

.wrap1100 {
  margin: auto;
  max-width: 1100px;
  width: 100%; }
  @media screen and (max-width: 749px) {
    .wrap1100 {
      padding: 0 25px; } }

.wrap1200 {
  margin: auto;
  max-width: 1200px;
  width: 100%; }
  @media screen and (max-width: 749px) {
    .wrap1200 {
      padding: 0 25px; } }

.wrap1300 {
  margin: auto;
  max-width: 1300px;
  width: 100%; }
  @media screen and (max-width: 749px) {
    .wrap1300 {
      padding: 0 25px; } }

.wrap1400 {
  margin: auto;
  max-width: 1400px;
  width: 100%; }
  @media screen and (max-width: 749px) {
    .wrap1400 {
      padding: 0 25px; } }

.loading {
  background: white;
  color: grey;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  z-index: 9999; }

.label_pink {
  color: #F39699; }

.label_blue {
  color: #738aba; }

.mt0 {
  display: block;
  margin-top: 0px !important; }
  @media screen and (max-width: 749px) {
    .mt0 {
      margin-top: 0px !important; } }

.mt5 {
  display: block;
  margin-top: 5px !important; }
  @media screen and (max-width: 749px) {
    .mt5 {
      margin-top: 2.5px !important; } }

.mt10 {
  display: block;
  margin-top: 10px !important; }
  @media screen and (max-width: 749px) {
    .mt10 {
      margin-top: 5px !important; } }

.mt15 {
  display: block;
  margin-top: 15px !important; }
  @media screen and (max-width: 749px) {
    .mt15 {
      margin-top: 7.5px !important; } }

.mt20 {
  display: block;
  margin-top: 20px !important; }
  @media screen and (max-width: 749px) {
    .mt20 {
      margin-top: 10px !important; } }

.mt25 {
  display: block;
  margin-top: 25px !important; }
  @media screen and (max-width: 749px) {
    .mt25 {
      margin-top: 12.5px !important; } }

.mt30 {
  display: block;
  margin-top: 30px !important; }
  @media screen and (max-width: 749px) {
    .mt30 {
      margin-top: 15px !important; } }

.mt40 {
  display: block;
  margin-top: 40px !important; }
  @media screen and (max-width: 749px) {
    .mt40 {
      margin-top: 20px !important; } }

.mt50 {
  display: block;
  margin-top: 50px !important; }
  @media screen and (max-width: 749px) {
    .mt50 {
      margin-top: 25px !important; } }

.mt60 {
  display: block;
  margin-top: 60px !important; }
  @media screen and (max-width: 749px) {
    .mt60 {
      margin-top: 30px !important; } }

.mt70 {
  display: block;
  margin-top: 70px !important; }
  @media screen and (max-width: 749px) {
    .mt70 {
      margin-top: 35px !important; } }

.mt80 {
  display: block;
  margin-top: 80px !important; }
  @media screen and (max-width: 749px) {
    .mt80 {
      margin-top: 40px !important; } }

.mt90 {
  display: block;
  margin-top: 90px !important; }
  @media screen and (max-width: 749px) {
    .mt90 {
      margin-top: 45px !important; } }

.mt100 {
  display: block;
  margin-top: 100px !important; }
  @media screen and (max-width: 749px) {
    .mt100 {
      margin-top: 50px !important; } }

.mt110 {
  display: block;
  margin-top: 110px !important; }
  @media screen and (max-width: 749px) {
    .mt110 {
      margin-top: 55px !important; } }

.mt120 {
  display: block;
  margin-top: 120px !important; }
  @media screen and (max-width: 749px) {
    .mt120 {
      margin-top: 60px !important; } }

.mt130 {
  display: block;
  margin-top: 130px !important; }
  @media screen and (max-width: 749px) {
    .mt130 {
      margin-top: 65px !important; } }

.mt140 {
  display: block;
  margin-top: 140px !important; }
  @media screen and (max-width: 749px) {
    .mt140 {
      margin-top: 70px !important; } }

.mt150 {
  display: block;
  margin-top: 150px !important; }
  @media screen and (max-width: 749px) {
    .mt150 {
      margin-top: 75px !important; } }

.mt160 {
  display: block;
  margin-top: 160px !important; }
  @media screen and (max-width: 749px) {
    .mt160 {
      margin-top: 80px !important; } }

.mt200 {
  display: block;
  margin-top: 200px !important; }
  @media screen and (max-width: 749px) {
    .mt200 {
      margin-top: 100px !important; } }

@media screen and (max-width: 749px) {
  .sp-mt0 {
    margin-top: 0px !important; } }

@media screen and (max-width: 749px) {
  .sp-mt5 {
    margin-top: 5px !important; } }

@media screen and (max-width: 749px) {
  .sp-mt10 {
    margin-top: 10px !important; } }

@media screen and (max-width: 749px) {
  .sp-mt15 {
    margin-top: 15px !important; } }

@media screen and (max-width: 749px) {
  .sp-mt20 {
    margin-top: 20px !important; } }

@media screen and (max-width: 749px) {
  .sp-mt25 {
    margin-top: 25px !important; } }

@media screen and (max-width: 749px) {
  .sp-mt30 {
    margin-top: 30px !important; } }

@media screen and (max-width: 749px) {
  .sp-mt40 {
    margin-top: 40px !important; } }

@media screen and (max-width: 749px) {
  .sp-mt50 {
    margin-top: 50px !important; } }

@media screen and (max-width: 749px) {
  .sp-mt60 {
    margin-top: 60px !important; } }

@media screen and (max-width: 749px) {
  .sp-mt70 {
    margin-top: 70px !important; } }

@media screen and (max-width: 749px) {
  .sp-mt80 {
    margin-top: 80px !important; } }

@media screen and (max-width: 749px) {
  .sp-mt90 {
    margin-top: 90px !important; } }

@media screen and (max-width: 749px) {
  .sp-mt100 {
    margin-top: 100px !important; } }

@media screen and (max-width: 749px) {
  .sp-mt110 {
    margin-top: 110px !important; } }

@media screen and (max-width: 749px) {
  .sp-mt120 {
    margin-top: 120px !important; } }

@media screen and (max-width: 749px) {
  .sp-mt130 {
    margin-top: 130px !important; } }

@media screen and (max-width: 749px) {
  .sp-mt140 {
    margin-top: 140px !important; } }

@media screen and (max-width: 749px) {
  .sp-mt150 {
    margin-top: 150px !important; } }

@media screen and (max-width: 749px) {
  .sp-mt160 {
    margin-top: 160px !important; } }

@media screen and (max-width: 749px) {
  .sp-mt200 {
    margin-top: 200px !important; } }

.pt0 {
  display: block;
  padding-top: 0px !important; }
  @media screen and (max-width: 749px) {
    .pt0 {
      padding-top: 0px !important; } }

.pt5 {
  display: block;
  padding-top: 5px !important; }
  @media screen and (max-width: 749px) {
    .pt5 {
      padding-top: 2.5px !important; } }

.pt10 {
  display: block;
  padding-top: 10px !important; }
  @media screen and (max-width: 749px) {
    .pt10 {
      padding-top: 5px !important; } }

.pt15 {
  display: block;
  padding-top: 15px !important; }
  @media screen and (max-width: 749px) {
    .pt15 {
      padding-top: 7.5px !important; } }

.pt20 {
  display: block;
  padding-top: 20px !important; }
  @media screen and (max-width: 749px) {
    .pt20 {
      padding-top: 10px !important; } }

.pt25 {
  display: block;
  padding-top: 25px !important; }
  @media screen and (max-width: 749px) {
    .pt25 {
      padding-top: 12.5px !important; } }

.pt30 {
  display: block;
  padding-top: 30px !important; }
  @media screen and (max-width: 749px) {
    .pt30 {
      padding-top: 15px !important; } }

.pt40 {
  display: block;
  padding-top: 40px !important; }
  @media screen and (max-width: 749px) {
    .pt40 {
      padding-top: 20px !important; } }

.pt50 {
  display: block;
  padding-top: 50px !important; }
  @media screen and (max-width: 749px) {
    .pt50 {
      padding-top: 25px !important; } }

.pt60 {
  display: block;
  padding-top: 60px !important; }
  @media screen and (max-width: 749px) {
    .pt60 {
      padding-top: 30px !important; } }

.pt70 {
  display: block;
  padding-top: 70px !important; }
  @media screen and (max-width: 749px) {
    .pt70 {
      padding-top: 35px !important; } }

.pt80 {
  display: block;
  padding-top: 80px !important; }
  @media screen and (max-width: 749px) {
    .pt80 {
      padding-top: 40px !important; } }

.pt90 {
  display: block;
  padding-top: 90px !important; }
  @media screen and (max-width: 749px) {
    .pt90 {
      padding-top: 45px !important; } }

.pt100 {
  display: block;
  padding-top: 100px !important; }
  @media screen and (max-width: 749px) {
    .pt100 {
      padding-top: 50px !important; } }

.pt110 {
  display: block;
  padding-top: 110px !important; }
  @media screen and (max-width: 749px) {
    .pt110 {
      padding-top: 55px !important; } }

.pt120 {
  display: block;
  padding-top: 120px !important; }
  @media screen and (max-width: 749px) {
    .pt120 {
      padding-top: 60px !important; } }

.pt130 {
  display: block;
  padding-top: 130px !important; }
  @media screen and (max-width: 749px) {
    .pt130 {
      padding-top: 65px !important; } }

.pt140 {
  display: block;
  padding-top: 140px !important; }
  @media screen and (max-width: 749px) {
    .pt140 {
      padding-top: 70px !important; } }

.pt150 {
  display: block;
  padding-top: 150px !important; }
  @media screen and (max-width: 749px) {
    .pt150 {
      padding-top: 75px !important; } }

.pt160 {
  display: block;
  padding-top: 160px !important; }
  @media screen and (max-width: 749px) {
    .pt160 {
      padding-top: 80px !important; } }

.pt200 {
  display: block;
  padding-top: 200px !important; }
  @media screen and (max-width: 749px) {
    .pt200 {
      padding-top: 100px !important; } }

@media screen and (max-width: 749px) {
  .sp-pt0 {
    padding-top: 0px !important; } }

@media screen and (max-width: 749px) {
  .sp-pt5 {
    padding-top: 5px !important; } }

@media screen and (max-width: 749px) {
  .sp-pt10 {
    padding-top: 10px !important; } }

@media screen and (max-width: 749px) {
  .sp-pt15 {
    padding-top: 15px !important; } }

@media screen and (max-width: 749px) {
  .sp-pt20 {
    padding-top: 20px !important; } }

@media screen and (max-width: 749px) {
  .sp-pt25 {
    padding-top: 25px !important; } }

@media screen and (max-width: 749px) {
  .sp-pt30 {
    padding-top: 30px !important; } }

@media screen and (max-width: 749px) {
  .sp-pt40 {
    padding-top: 40px !important; } }

@media screen and (max-width: 749px) {
  .sp-pt50 {
    padding-top: 50px !important; } }

@media screen and (max-width: 749px) {
  .sp-pt60 {
    padding-top: 60px !important; } }

@media screen and (max-width: 749px) {
  .sp-pt70 {
    padding-top: 70px !important; } }

@media screen and (max-width: 749px) {
  .sp-pt80 {
    padding-top: 80px !important; } }

@media screen and (max-width: 749px) {
  .sp-pt90 {
    padding-top: 90px !important; } }

@media screen and (max-width: 749px) {
  .sp-pt100 {
    padding-top: 100px !important; } }

@media screen and (max-width: 749px) {
  .sp-pt110 {
    padding-top: 110px !important; } }

@media screen and (max-width: 749px) {
  .sp-pt120 {
    padding-top: 120px !important; } }

@media screen and (max-width: 749px) {
  .sp-pt130 {
    padding-top: 130px !important; } }

@media screen and (max-width: 749px) {
  .sp-pt140 {
    padding-top: 140px !important; } }

@media screen and (max-width: 749px) {
  .sp-pt150 {
    padding-top: 150px !important; } }

@media screen and (max-width: 749px) {
  .sp-pt160 {
    padding-top: 160px !important; } }

@media screen and (max-width: 749px) {
  .sp-pt200 {
    padding-top: 200px !important; } }

.pb0 {
  display: block;
  padding-bottom: 0px !important; }
  @media screen and (max-width: 749px) {
    .pb0 {
      padding-bottom: 0px !important; } }

.pb5 {
  display: block;
  padding-bottom: 5px !important; }
  @media screen and (max-width: 749px) {
    .pb5 {
      padding-bottom: 2.5px !important; } }

.pb10 {
  display: block;
  padding-bottom: 10px !important; }
  @media screen and (max-width: 749px) {
    .pb10 {
      padding-bottom: 5px !important; } }

.pb15 {
  display: block;
  padding-bottom: 15px !important; }
  @media screen and (max-width: 749px) {
    .pb15 {
      padding-bottom: 7.5px !important; } }

.pb20 {
  display: block;
  padding-bottom: 20px !important; }
  @media screen and (max-width: 749px) {
    .pb20 {
      padding-bottom: 10px !important; } }

.pb25 {
  display: block;
  padding-bottom: 25px !important; }
  @media screen and (max-width: 749px) {
    .pb25 {
      padding-bottom: 12.5px !important; } }

.pb30 {
  display: block;
  padding-bottom: 30px !important; }
  @media screen and (max-width: 749px) {
    .pb30 {
      padding-bottom: 15px !important; } }

.pb40 {
  display: block;
  padding-bottom: 40px !important; }
  @media screen and (max-width: 749px) {
    .pb40 {
      padding-bottom: 20px !important; } }

.pb50 {
  display: block;
  padding-bottom: 50px !important; }
  @media screen and (max-width: 749px) {
    .pb50 {
      padding-bottom: 25px !important; } }

.pb60 {
  display: block;
  padding-bottom: 60px !important; }
  @media screen and (max-width: 749px) {
    .pb60 {
      padding-bottom: 30px !important; } }

.pb70 {
  display: block;
  padding-bottom: 70px !important; }
  @media screen and (max-width: 749px) {
    .pb70 {
      padding-bottom: 35px !important; } }

.pb80 {
  display: block;
  padding-bottom: 80px !important; }
  @media screen and (max-width: 749px) {
    .pb80 {
      padding-bottom: 40px !important; } }

.pb90 {
  display: block;
  padding-bottom: 90px !important; }
  @media screen and (max-width: 749px) {
    .pb90 {
      padding-bottom: 45px !important; } }

.pb100 {
  display: block;
  padding-bottom: 100px !important; }
  @media screen and (max-width: 749px) {
    .pb100 {
      padding-bottom: 50px !important; } }

.pb110 {
  display: block;
  padding-bottom: 110px !important; }
  @media screen and (max-width: 749px) {
    .pb110 {
      padding-bottom: 55px !important; } }

.pb120 {
  display: block;
  padding-bottom: 120px !important; }
  @media screen and (max-width: 749px) {
    .pb120 {
      padding-bottom: 60px !important; } }

.pb130 {
  display: block;
  padding-bottom: 130px !important; }
  @media screen and (max-width: 749px) {
    .pb130 {
      padding-bottom: 65px !important; } }

.pb140 {
  display: block;
  padding-bottom: 140px !important; }
  @media screen and (max-width: 749px) {
    .pb140 {
      padding-bottom: 70px !important; } }

.pb150 {
  display: block;
  padding-bottom: 150px !important; }
  @media screen and (max-width: 749px) {
    .pb150 {
      padding-bottom: 75px !important; } }

.pb160 {
  display: block;
  padding-bottom: 160px !important; }
  @media screen and (max-width: 749px) {
    .pb160 {
      padding-bottom: 80px !important; } }

.pb200 {
  display: block;
  padding-bottom: 200px !important; }
  @media screen and (max-width: 749px) {
    .pb200 {
      padding-bottom: 100px !important; } }

@media screen and (max-width: 749px) {
  .sp-pb0 {
    padding-bottom: 0px !important; } }

@media screen and (max-width: 749px) {
  .sp-pb5 {
    padding-bottom: 5px !important; } }

@media screen and (max-width: 749px) {
  .sp-pb10 {
    padding-bottom: 10px !important; } }

@media screen and (max-width: 749px) {
  .sp-pb15 {
    padding-bottom: 15px !important; } }

@media screen and (max-width: 749px) {
  .sp-pb20 {
    padding-bottom: 20px !important; } }

@media screen and (max-width: 749px) {
  .sp-pb25 {
    padding-bottom: 25px !important; } }

@media screen and (max-width: 749px) {
  .sp-pb30 {
    padding-bottom: 30px !important; } }

@media screen and (max-width: 749px) {
  .sp-pb40 {
    padding-bottom: 40px !important; } }

@media screen and (max-width: 749px) {
  .sp-pb50 {
    padding-bottom: 50px !important; } }

@media screen and (max-width: 749px) {
  .sp-pb60 {
    padding-bottom: 60px !important; } }

@media screen and (max-width: 749px) {
  .sp-pb70 {
    padding-bottom: 70px !important; } }

@media screen and (max-width: 749px) {
  .sp-pb80 {
    padding-bottom: 80px !important; } }

@media screen and (max-width: 749px) {
  .sp-pb90 {
    padding-bottom: 90px !important; } }

@media screen and (max-width: 749px) {
  .sp-pb100 {
    padding-bottom: 100px !important; } }

@media screen and (max-width: 749px) {
  .sp-pb110 {
    padding-bottom: 110px !important; } }

@media screen and (max-width: 749px) {
  .sp-pb120 {
    padding-bottom: 120px !important; } }

@media screen and (max-width: 749px) {
  .sp-pb130 {
    padding-bottom: 130px !important; } }

@media screen and (max-width: 749px) {
  .sp-pb140 {
    padding-bottom: 140px !important; } }

@media screen and (max-width: 749px) {
  .sp-pb150 {
    padding-bottom: 150px !important; } }

@media screen and (max-width: 749px) {
  .sp-pb160 {
    padding-bottom: 160px !important; } }

@media screen and (max-width: 749px) {
  .sp-pb200 {
    padding-bottom: 200px !important; } }

.p0 {
  padding: 0px !important; }
  @media screen and (max-width: 749px) {
    .p0 {
      padding: 0px !important; } }

.p5 {
  padding: 5px !important; }
  @media screen and (max-width: 749px) {
    .p5 {
      padding: 2.5px !important; } }

.p10 {
  padding: 10px !important; }
  @media screen and (max-width: 749px) {
    .p10 {
      padding: 5px !important; } }

.p15 {
  padding: 15px !important; }
  @media screen and (max-width: 749px) {
    .p15 {
      padding: 7.5px !important; } }

.p20 {
  padding: 20px !important; }
  @media screen and (max-width: 749px) {
    .p20 {
      padding: 10px !important; } }

.p25 {
  padding: 25px !important; }
  @media screen and (max-width: 749px) {
    .p25 {
      padding: 12.5px !important; } }

.p30 {
  padding: 30px !important; }
  @media screen and (max-width: 749px) {
    .p30 {
      padding: 15px !important; } }

.p40 {
  padding: 40px !important; }
  @media screen and (max-width: 749px) {
    .p40 {
      padding: 20px !important; } }

.p50 {
  padding: 50px !important; }
  @media screen and (max-width: 749px) {
    .p50 {
      padding: 25px !important; } }

.p60 {
  padding: 60px !important; }
  @media screen and (max-width: 749px) {
    .p60 {
      padding: 30px !important; } }

.p70 {
  padding: 70px !important; }
  @media screen and (max-width: 749px) {
    .p70 {
      padding: 35px !important; } }

.p80 {
  padding: 80px !important; }
  @media screen and (max-width: 749px) {
    .p80 {
      padding: 40px !important; } }

.p90 {
  padding: 90px !important; }
  @media screen and (max-width: 749px) {
    .p90 {
      padding: 45px !important; } }

.p100 {
  padding: 100px !important; }
  @media screen and (max-width: 749px) {
    .p100 {
      padding: 50px !important; } }

.p110 {
  padding: 110px !important; }
  @media screen and (max-width: 749px) {
    .p110 {
      padding: 55px !important; } }

.p120 {
  padding: 120px !important; }
  @media screen and (max-width: 749px) {
    .p120 {
      padding: 60px !important; } }

.p130 {
  padding: 130px !important; }
  @media screen and (max-width: 749px) {
    .p130 {
      padding: 65px !important; } }

.p140 {
  padding: 140px !important; }
  @media screen and (max-width: 749px) {
    .p140 {
      padding: 70px !important; } }

.p150 {
  padding: 150px !important; }
  @media screen and (max-width: 749px) {
    .p150 {
      padding: 75px !important; } }

.p160 {
  padding: 160px !important; }
  @media screen and (max-width: 749px) {
    .p160 {
      padding: 80px !important; } }

.p200 {
  padding: 200px !important; }
  @media screen and (max-width: 749px) {
    .p200 {
      padding: 100px !important; } }

.flex {
  display: flex;
  height: 100%;
  justify-content: flex-start;
  align-items: flex-start; }
  @media screen and (max-width: 749px) {
    .flex {
      flex-wrap: wrap;
      justify-content: center; } }
  @media screen and (min-width: 750px) {
    .flex.f-mg10 > * {
      margin-right: 10px; }
      .flex.f-mg10 > *:last-child {
        margin-right: 0; } }
  @media screen and (max-width: 749px) {
    .flex.f-mg10 > * {
      width: 100%;
      margin-bottom: calc(10px / 2); }
      .flex.f-mg10 > *:last-child {
        margin-bottom: 0; } }
  @media screen and (min-width: 750px) {
    .flex.f-mg10.col2 > * {
      width: calc((100% - 10px) / 2); } }
  @media screen and (min-width: 750px) {
    .flex.f-mg10.col3 > * {
      width: calc((100% - (2*10px)) / 3); } }
  @media screen and (min-width: 750px) {
    .flex.f-mg30 > * {
      margin-right: 30px; }
      .flex.f-mg30 > *:last-child {
        margin-right: 0; } }
  @media screen and (max-width: 749px) {
    .flex.f-mg30 > * {
      width: 100%;
      margin-bottom: calc(30px / 2); }
      .flex.f-mg30 > *:last-child {
        margin-bottom: 0; } }
  @media screen and (min-width: 750px) {
    .flex.f-mg30.col2 > * {
      width: calc((100% - 30px) / 2); } }
  @media screen and (min-width: 750px) {
    .flex.f-mg30.col3 > * {
      width: calc((100% - (2*30px)) / 3); } }
  @media screen and (min-width: 750px) {
    .flex.f-mg50 > * {
      margin-right: 50px; }
      .flex.f-mg50 > *:last-child {
        margin-right: 0; } }
  @media screen and (max-width: 749px) {
    .flex.f-mg50 > * {
      width: 100%;
      margin-bottom: calc(50px / 2); }
      .flex.f-mg50 > *:last-child {
        margin-bottom: 0; } }
  @media screen and (min-width: 750px) {
    .flex.f-mg50.col2 > * {
      width: calc((100% - 50px) / 2); } }
  @media screen and (min-width: 750px) {
    .flex.f-mg50.col3 > * {
      width: calc((100% - (2*50px)) / 3); } }
  @media screen and (min-width: 750px) {
    .flex.f-mg60 > * {
      margin-right: 60px; }
      .flex.f-mg60 > *:last-child {
        margin-right: 0; } }
  @media screen and (max-width: 749px) {
    .flex.f-mg60 > * {
      width: 100%;
      margin-bottom: calc(60px / 2); }
      .flex.f-mg60 > *:last-child {
        margin-bottom: 0; } }
  @media screen and (min-width: 750px) {
    .flex.f-mg60.col2 > * {
      width: calc((100% - 60px) / 2); } }
  @media screen and (min-width: 750px) {
    .flex.f-mg60.col3 > * {
      width: calc((100% - (2*60px)) / 3); } }

.fadein {
  opacity: 0;
  z-index: 1; }

.fadeInUp {
  animation-name: fadeInUp;
  animation-fill-mode: both;
  animation-duration: 0.8s;
  animation-delay: 0.1s;
  visibility: visible !important; }

@keyframes fadeInUp {
  from {
    transform: translateY(55px);
    opacity: 0; }
  to {
    transform: translateY(0);
    opacity: 1; } }

.fadeInUp2 {
  animation-name: fadeInUp2;
  animation-fill-mode: both;
  animation-duration: 0.8s;
  animation-delay: 0.1s;
  visibility: visible !important; }

@keyframes fadeInUp2 {
  from {
    margin-top: 30px;
    opacity: 0; }
  to {
    margin-top: 0px;
    opacity: 1; } }

.btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 1em 2em;
  width: fit-content;
  font-size: 1.3rem;
  font-weight: 700;
  border: 3px solid #a0c4d3;
  border-radius: 10px;
  cursor: pointer;
  border: 1px solid #2c2c2c;
  color: #2c2c2c;
  transition: 0.3s;
  margin: 0 10px 10px 0;
  line-height: 1.22;
  border-radius: 2px; }

.filter {
  color: #adadad;
  border: 1px solid #adadad;
  background: white;
  height: 30px;
  width: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  cursor: pointer; }
  .filterWrap {
    display: flex;
    margin-bottom: 20px; }
  .filter.-active {
    background: #adadad;
    color: white; }

#canvas {
  width: 700px;
  height: 500px;
  border: 1px solid gray; }
  @media screen and (max-width: 749px) {
    #canvas {
      width: 100%; } }

cp_ipselect {
  overflow: hidden;
  width: 90%;
  margin: 2em auto;
  text-align: center; }

.cp_ipselect select {
  width: 100%;
  padding-right: 1em;
  cursor: pointer;
  text-indent: 0.01px;
  text-overflow: ellipsis;
  border: none;
  outline: none;
  background: transparent;
  background-image: none;
  box-shadow: none;
  -webkit-appearance: none;
  appearance: none; }

.cp_ipselect select::-ms-expand {
  display: none; }

.cp_ipselect.cp_sl02 {
  position: relative;
  border: 1px solid #bbbbbb;
  border-radius: 2px;
  background: #ffffff; }

.cp_ipselect.cp_sl02::before {
  position: absolute;
  top: 0.8em;
  right: 0.9em;
  width: 0;
  height: 0;
  padding: 0;
  content: '';
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid #666666;
  pointer-events: none; }

.cp_ipselect.cp_sl02:after {
  position: absolute;
  top: 0;
  right: 2.5em;
  bottom: 0;
  width: 1px;
  content: '';
  border-left: 1px solid #bbbbbb; }

.cp_ipselect.cp_sl02 select {
  padding: 8px 38px 8px 8px;
  color: #666666; }

.header {
  height: 100px;
  display: flex; }
  .headerInner {
    width: 100%;
    max-width: 800px;
    margin: auto;
    display: flex;
    align-items: center; }
    @media screen and (max-width: 749px) {
      .headerInner {
        padding: 0 25px; } }
  .header_image {
    width: 45px; }
  .header_menu {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 2.0rem; }
    .header_menuWrap {
      display: flex;
      width: 80%; }
    .header_menu:not(:last-child) {
      margin-right: 10px; }
  .header_credit {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 1.6rem;
    letter-spacing: 0.05em;
    width: 100%;
    margin-left: 10px; }

.footer {
  max-width: 800px;
  margin: auto;
  height: 100px;
  font-family: 'Open Sans Condensed', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px; }
