.publishWrap
  .publish
    .publish_image
      img(src="assets/img/h_3.png").w100
    .publish_title 狩人しかいない！
    .publish_date 2022.06.26 / 28P
    .publish_caption 聖火神が狩人しか導くことができない…！という設定の4コマギャグ本。クロエ×ユーニィみのある話も1本入ってます。
    .publish_btnWrap
      a.publish_pixiv(href="https://www.pixiv.net/artworks/99221050" target="_blank" onClick="ga('send', 'event', 'pixiv', 'publish', '狩人しかしない! - SAMPLE');") SAMPLE
      a.publish_booth(href="https://gew.booth.pm/items/3953172" target="_blank" onClick="ga('send', 'event', 'booth', 'publish', '狩人しかしない! - BOOTH');") BOOTH
  .publish
    .publish_image
      img(src="assets/img/h_2.png").w100
    .publish_title はぐれ羊としぐれ星
    .publish_date 2022.02.20 / 66P
    .publish_caption スケアクロウ×アシラン。死線越し…の続きもので、無印アシランのサブスト関連を掘り下げた話。過去捏造。
    .publish_btnWrap
      a.publish_pixiv(href="https://www.pixiv.net/artworks/96336840" target="_blank" onClick="ga('send', 'event', 'pixiv', 'publish', 'はぐれ羊としぐれ星 - SAMPLE');") SAMPLE
      a.publish_booth(href="https://gew.booth.pm/items/3662649" target="_blank" onClick="ga('send', 'event', 'booth', 'publish', 'はぐれ羊としぐれ星 - BOOTH');") BOOTH
  .publish
    .publish_image
      img(src="assets/img/h_1.png").w100
    .publish_title 死線越しのアルバ
    .publish_date 2021.07.18 / 104P
    .publish_caption スケアクロウとアシランのトラストが同時進行する話。カップリングなし。
    .publish_btnWrap
      a.publish_pixiv(href="https://www.pixiv.net/artworks/91254201" target="_blank" onClick="ga('send', 'event', 'pixiv', 'publish', '死線越しのアルバ - SAMPLE');") SAMPLE
      a.publish_booth(href="https://gew.booth.pm/items/3125278" target="_blank" onClick="ga('send', 'event', 'booth', 'publish', '死線越しのアルバ - BOOTH');") BOOTH
  .publish
    .publish_image
      img(src="assets/img/ho_3.png").w100
    .publish_title スノウ・ローズのとけあう日
    .publish_date 2020.02.16 / 48P
    .publish_caption レジー×ハロルド漫画。
    .publish_booth.-sold 頒布終了
  .publish
    .publish_image
      img(src="assets/img/ho_2.png").w100
    .publish_title 川底に差す
    .publish_date 2019.07.21 / 124P
    .publish_caption レジーとハロルドの16年前を捏造した小説。
    .publish_booth.-sold 頒布終了
  .publish
    .publish_image
      img(src="assets/img/ho_1.png").w100
    .publish_title FANTASTIC RIVER
    .publish_date 2019.07.21 / 36P
    .publish_caption リバーフォード4コマギャグ本。
    .publish_booth.-sold 頒布終了

.wrap600
  p.mt40: small 再録の予定はありません。頒布終了した作品に関しては個別にお問い合わせください。
